<%- include("./partials/mainPageHeader.ejs") %>
<!-- <h2 class="work-sans-bold">Homepage</h2> -->
<div class="center-content">
    <p class="work-sans-regular">Welcome to the homepage.</p>
    <div class="homepage-title">Your Projects</div>
    <div class="project-list">
        <% projects.forEach(project => { %>
            <div class="project">
                <a href="/projects/<%= project._id %>">
                    <h3 class="project-name"><%= project.name %></h3>
                </a>
                <p class="project-admin"><strong>Administrator:</strong> <%= project.administrator %></p>
                <p class="project-tasks"><strong>Tasks:</strong> <%= project.tasks.length %></p>
            </div>
        <% }); %>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
