<%- include("./partials/projectPageHeader.ejs") %>
    <div class="left-content">
        <div class="project-list">
            <% projects.forEach(project => { %>
                
                <% if(projectName == project.name){ %>
                    <h1 class="poppins-medium"><%= project.name %></h1>
                    <% if(user == project.administrator) { %>
                        <!-- <div class="add-user-form-container">

                            PROPOSE (Mia): what if we made this a pop up form after user clicks an 'add person' icon? 
                            Form to add collaborators 
                            <div class="add-user-form">
                                <h2 class="poppins-medium">Add collaborators.</h2> 
                                <form method="POST" action="/projects/<%= project.name %>">
                                    <label class="work-sans-regular" for="userName">Add User by Username:</label>
                                    <input type="name" id="userName" name="userName" required>
                                    <button type="submit">Send Invite</button>
                                </form>
                            </div> -->

                        <div class="righttop-content">                        
                            <div class="project-list">
                                <div class="add-user-form-container">
                                    <!-- PROPOSE (Mia): what if we made this a pop up form after user clicks an 'add person' icon? -->
                                    <!-- Form to add collaborators -->
                                    <div class="add-user-form">
                                        <!-- <h2 class="poppins-medium">Add collaborators.</h2> -->
                                        <form method="POST" action="/projects/<%= project.name %>">
                                            <label class="work-sans-regular" for="userName">Add User by Username:</label>
                                            <input type="name" id="userName" name="userName" required>
                                            <button type="submit">Send Invite</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rightmiddle-content">
                            <div class="project-list">
                                                    
                                    <div class="add-user-form-container">                       
                                        <!-- Form to add a new task -->
                                        <div class="add-task-form">
                                            <h2 class="poppins-medium">New Task.</h2>
                                            <form method="POST" action="/projects/<%= project.name%>/tasks">
                                                <label class="work-sans-regular" for="taskName">Task Name</label>
                                                <input type="text" id="taskName" name="taskName" required>
                                                <label class="work-sans-regular" for="taskName">Description:</label>
                                                <input type="text" id="description" name="description" required>
                                                <button type="submit">Create</button>
                                            </form>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                
            <% }); %>

    <div class="left-content">
        <style>
            .task-buttons-incomplete {
                background-color: rgb(255, 39, 24);
                padding: 5px;
                margin: 5px;
                border-radius: 10px;
            }
            
            .task-buttons-complete {
                background-color: rgb(6, 168, 6);
                padding: 5px;
                margin: 5px;
                border-radius: 10px;
            }

            .task-buttons-incomplete:hover {
                background-color: rgb(216, 35, 22);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.158); /* Shadow appears on hover */
                cursor: pointer;
            }
            
            .task-buttons-complete:hover {
                background-color: rgb(5, 141, 5);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.158); /* Shadow appears on hover */
                cursor: pointer;
            }

            
        </style>
        <h1>To Do</h1>
        <ul id="taskList" class="task-list">
            <% tasks.forEach(task => { %>
                <% if(!task.completed){ %>
                    <form action="/tasks/markComplete/<%= projectName%>" method="POST">
                        <input type="hidden" name="taskName" value="<%= task.name %>">
                        <button type="submit" class="task-buttons-incomplete">
                            <h3><%= task.name %></h3>
                            <p>Description: <%= task.description %></p>
                        </button>
                    </form>
                    
                <% } %>
            <% }); %>
        <h1>Completed</h1>
            <% tasks.forEach(task => { %>

                <% if(task.completed){ %>
                <form action="/tasks/markComplete/<%= projectName%>" method="POST">
                    <input type="hidden" name="taskName" value="<%= task.name %>">
                    <button type="submit" class="task-buttons-complete">
                        <h3><%= task.name %></h3>
                            <p>Description: <%= task.description %></p>
                    </button>
                </form>
                    <% } %>
            <% }); %>
        </ul>

    </div>
</div>
<%- include("./partials/footer.ejs") %>
