<%- include("./partials/projectPageHeader.ejs") %>
    <div class="left-content">
        <div class="project-list">
            <% projects.forEach(project => { %>
                
                <% if(projectName == project.name){ %>
                    <h1 class="poppins-medium"><b><u><%= project.name %></u></b></h1>
                    <p class="poppins-medium"><%= project.description %></p>
                    <% if(user == project.administrator) { %>
                        <!-- <div class="add-user-form-container">

                            PROPOSE (Mia): what if we made this a pop up form after user clicks an 'add person' icon? 
                            Form to add collaborators 
                            <div class="add-user-form">
                                <h2 class="poppins-medium">Add collaborators.</h2> 
                                <form method="POST" action="/projects/<%= project.name %>">
                                    <label class="work-sans-regular" for="userName">Add User by Username:</label>
                                    <input type="name" id="userName" name="userName" required>
                                    <button type="submit">Send Invite</button>
                                </form>
                            </div> -->

                        <div class="righttop-content">                        
                            <div class="project-list">
                                <div class="add-user-form-container">
                                    <!-- PROPOSE (Mia): what if we made this a pop up form after user clicks an 'add person' icon? -->
                                    <!-- Form to add collaborators -->
                                    <div class="add-user-form">
                                        <!-- <h2 class="poppins-medium">Add collaborators.</h2> -->
                                        <form method="POST" action="/projects/<%= project.name %>">
                                            <label class="work-sans-regular" for="userName"><b>Add User by Username:</b></label>
                                            <input type="name" id="userName" name="userName" required>
                                            <button type="submit">Send Invite</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rightmiddle-content">
                            <div class="project-list">
                                                    
                                    <div class="add-task-form-container">                       
                                        <!-- Form to add a new task -->
                                        <div class="add-task-form">
                                            <h2 class="poppins-medium">New Task:</h2>
                                            <form method="POST" action="/projects/<%= project.name%>/tasks">
                                                <label class="work-sans-regular" for="taskName">Task Name</label>
                                                <input type="task" id="taskName" name="taskName" required>
                                                <label class="work-sans-regular" for="taskName">Description:</label>
                                                <input type="task" id="description" name="description" required>
                                                <label class="work-sans-regular" for="taskName">Assign Team Member:</label>
                                                <input type="task" id="username" name="username" required>
                                                <button type="submit">Create</button>
                                            </form>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                
            <% }); %>

    <div class="left-content">
        <style>
            .task-buttons-incomplete {
                background-color: rgb(255, 131, 146);
                padding: 5px;
                margin: 5px;
                width: 800px;
                height: 60px;
                border-radius: 10px;
            }
            
            .task-buttons-complete {
                background-color: rgb(170, 255, 156);
                padding: 5px;
                margin: 5px;
                width: 800px;
                height: 60px;
                border-radius: 10px;
            }

            .task-buttons-incomplete:hover {
                background-color: rgb(255, 99, 118);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.158); /* Shadow appears on hover */
                cursor: pointer;
            }
            
            .task-buttons-complete:hover {
                background-color: rgb(125, 255, 104);
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.158); /* Shadow appears on hover */
                cursor: pointer;
            }

            
        </style>
        <h2>To Do:</h2>
        <ul id="taskList" class="task-list">
            <% tasks.forEach(task => { %>
                <% if(!task.completed){ %>
                    <form action="/tasks/markComplete/<%= projectName%>" method="POST">
                        <input type="hidden" name="taskName" value="<%= task.name %>">
                        <button type="submit" class="task-buttons-incomplete">
                            <h3 style="text-align: left"><%= task.name %></h3>
                            <p style="text-align: left"><%= task.description %></p>
                            <p style="text-align: right">Assigned To: <%= task.username %></p>
                        </button>
                    </form>
                    
                <% } %>
            <% }); %>
        <h2>Completed:</h2>
            <% tasks.forEach(task => { %>

                <% if(task.completed){ %>
                <form action="/tasks/markComplete/<%= projectName%>" method="POST">
                    <input type="hidden" name="taskName" value="<%= task.name %>">
                    <button type="submit" class="task-buttons-complete">
                        <h3 style="text-align: left"><%= task.name %></h3>
                        <p style="text-align: left"><%= task.description %></p>
                        <p style="text-align: right">Assigned To: <%= task.username %></p>
                    </button>
                </form>
                    <% } %>
            <% }); %>
        </ul>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
